<section class="bg-darker flex items-center padding-x-xxxxl padding-y-lg gap-x-xxl flex-wrap flex-nowrap@sm gap-md">
    <div class="flex flex-column gap-y-sm">
        <h2>Expert IT solutions</h2>
        <h5>Your trusted tech partner</h5>
        <p>With a decade of experience, Rg Soluciones Informáticas delivers exceptional remote and on-site technical
            support for urgent cases. We specialize in serving architecture and accounting firms in Córdoba, ensuring
            their technology runs smoothly and efficiently. Our dedicated team is committed to resolving your IT
            challenges swiftly, allowing you to focus on what you do best. Trust us to be your reliable partner in
            navigating the complex world of technology.</p>
        <app-button name="Get in touch"></app-button>
    </div>
<img ngSrc="/imgprueba.jpg" alt="imagen de prueba" width="418" height="544">

</section>