<footer class="flex justify-between padding-md flex-wrap flex-nowrap@m gap-lg">
    <p>RG Soluciones <br class="display@md"> informaticas</p>
    <div class="flex flex-column gap-y-sm">
        <h5>Quick links</h5>
        <app-link name="Schedule appointment"></app-link>
        <app-link name="Complete intake"></app-link>
    </div>
    <div class="flex flex-column gap-y-sm">
        <h5>Contac us</h5>
        <app-link name="Córdoba XAR"></app-link>
        <app-link name="lochi.perez@gmail.com"></app-link>
    </div>
</footer>
