  .header__nav {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    background-color: white;
    overflow: auto;
    -ms-scroll-chaining: none;
        overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    display: none;
  }
  .header__nav::before {
    content: "";
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: var(--header-height);
    background: inherit;
    border-bottom: 1px solid hsl(var(--mf1-color-contrast-lower-hsl));
    
  }
  
  .header__nav--is-visible {
    display: block;
  }
  
  .header__link {
    font-size: var(--mf1-text-lg);
    color: hsl(var(--mf1-color-contrast-higher-hsl));
    text-decoration: none;
  }
  .header__link:hover, .header__link[aria-current] {
    color: hsl(var(--mf1-color-primary-hsl));
  }
  
  .header__nav-btn {
    font-size: var(--mf1-text-lg);
    width: 100%;
  }
  
  .header__item--divider {
    height: 1px;
    width: 100%;
    background-color: hsl(var(--mf1-color-contrast-lower-hsl));
  }
  
  .header__trigger {
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: none;
  }
  
  .header__trigger-icon {
    position: relative;
    display: block;
    height: 2px;
    width: 1em;
    background-color: currentColor;
    margin-right: var(--mf1-space-2xs);
    transition: 0.2s;
  }
  .header__trigger-icon::before, .header__trigger-icon::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    background-color: currentColor;
    transition: 0.2s;
  }
  .header__trigger-icon::before {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .header__trigger-icon::after {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  
  .header__trigger[aria-expanded=true] .header__trigger-icon {
    background-color: transparent;
  }
  .header__trigger[aria-expanded=true] .header__trigger-icon::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__trigger[aria-expanded=true] .header__trigger-icon::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  @media (min-width: 64rem) {
    .header__nav {
      position: static;
      background-color: transparent;
      width: auto;
      max-height: none;
      box-shadow: none;
      overflow: visible;
      -ms-scroll-chaining: chained;
          overscroll-behavior: auto;
      display: block;
    }
    .header__nav::before {
      display: none;
    }
  
    .header__nav-inner {
      padding: 0;
    }
  
    .header__label {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      -webkit-clip-path: inset(50%);
              clip-path: inset(50%);
    }
  
    .header__list {
      display: flex;
      align-items: center;
    }
  
    .header__item {
      display: inline-block;
      margin-bottom: 0;
      margin-left: var(--mf1-space-md);
    }
  
    .header__link, .header__nav-btn {
      font-size: 1.125rem;
    }
  
    .header__item--divider {
      height: 1em;
      width: 1px;
    }
  
    .header__trigger {
      display: none;
    }
  }
  
  /* utility classes */
  .mf1-max-width-lg {
    max-width: 80rem;
  }
  
  .mf1-container {
    width: calc(100% - 2*var(--mf1-space-md));
    margin-left: auto;
    margin-right: auto;
  }
  
  .mf1-position-relative {
    position: relative;
  }