<header class="flex justify-between padding-md position-fixed top-0 width-100% bg-white z-index-3">
    <p>RG Soluciones informaticas</p>
    <nav class="flex gap-x-md display@md">
        <app-link name="Home" (linkExterno)="scroll('hero')"></app-link>|
        <app-link name="About" href="about" (linkExterno)="scroll('about')"></app-link>|
        <app-link name="services" href="services" (linkExterno)="scroll('services')"></app-link>
    </nav>
    <app-button name="Contact" clases="display@md button-contact-header"></app-button>
    <button (click)="menu()" class="mf1-btn mf1-btn--subtle header__trigger js-header__trigger hide@md" aria-label="Toggle menu" aria-expanded="false" aria-controls="header-nav">
        <i class="header__trigger-icon" aria-hidden="true"></i>
      </button>
      <nav class="header__nav js-header__nav padding-md hide@md" [ngClass]="{'header__nav--is-visible':active}" id="header-nav" role="navigation" aria-label="Main">
        <h5>RG Soluciones Informaticas</h5>
        <div class="header__nav-inner">
          <ul class="header__list flex flex-column gap-md padding-top-lg">
            <li class="header__item"><app-link name="Home" (linkExterno)="scroll('hero')"></app-link></li>
            <li class="header__item"><app-link name="About" href="about" (linkExterno)="scroll('about')"></app-link></li>
            <li class="header__item"><app-link name="services" href="services" (linkExterno)="scroll('services')"></app-link></li>
            <app-button name="Contact" clases="button-contact-header"></app-button>
          </ul>
        </div>
      </nav>
</header>
