<section class="flex flex-column gap-y-md padding-x-xxxxl@md padding-x-md padding-y-lg">
    <h2>Expert IT support</h2>
    <h5>Your trusted tech partner for urgent needs</h5>
    <div class="flex gap-lg justify-center flex-wrap">
        <app-card-work url="/work-description/remote" img="/imgprueba.jpg" alt="imagen prueba" title="Remote technical support" text="Get immediate assistance without leaving your home or office"></app-card-work>
        <app-card-work url="/work-description/onsite" img="/imgprueba.jpg" alt="imagen prueba" title="Remote technical support" text="Get immediate assistance without leaving your home or office"></app-card-work>
        <app-card-work url="/work-description/consulting" img="/imgprueba.jpg" alt="imagen prueba" title="Remote technical support" text="Get immediate assistance without leaving your home or office"></app-card-work>
    </div>
</section>
