<section class="flex padding-md gap-x-md">
    <form class="flex flex-column gap-y-sm">
        <h4>Get in touch</h4>
        <h5>We're here to help you succeed!</h5>
        <input type="text" name="name" id="name" placeholder="Name" required>
        <input type="text" name="name" id="name" placeholder="Email address" required>
        <input type="text" name="name" id="name" placeholder="Phone number" required>
        <input type="text" name="name" id="name" placeholder="Message">
        <p>I allow this website to store my submission so they can respond to my inquiry.</p>
        <app-button name=Submit></app-button>
    </form>
    <div>
        <a href="mailto:lochi.perez@gmail.com">lochi.perez&#64;gmail.com</a>
    </div>
</section>
