/* You can add global styles to this file, and also import other style files */
textarea{
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    height: 100px;
    outline: none;
}

html{
    scroll-behavior: smooth;
    transition: all ease-in-out 1s;
}